/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(207, 207, 207);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bface2;
  border-radius: 10px;
}

.gridSystem {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Creates 7 equal-width columns */
  grid-template-rows: repeat(5, 1fr); /* Creates 5 equal-height rows */
}

.gridItem {
  height: 8rem;
  background-color: white;
  border: 1px solid rgb(237, 237, 237);
  padding: 1px 10px;
}

.headerAlignment {
  width: 100%;
  height: 84%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.dateAlignment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: black;
}
